<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akademiq</title>

    <link rel="shortcut icon" href="./static/favicon.ico">
    <link rel="stylesheet" href="./static/bootstrap@5.3.0/bootstrap.min.css">
    <script src="./static/bootstrap@5.3.0/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="./static/style.css">
    <script src="./static/main.alunos.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Akademiq</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  href="alunos">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item">
                        <a class="nav-link" href="turmas">Turmas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="equipe">Equipe</a>
                    </li>
                </ul>
                <form class="d-flex" action=login method="post">
                    </br>LOGADO </br>
                    <a class="logout" href=logout>LOGOUT</a>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-4 p-5 border border-dark rounded">
        <div class="row">
            <!-- Tabela de Alunos -->
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Matrícula</th>
                            <th>Nome</th>
                            <th>Nota</th>
                            <th>Turma</th>
                        </tr>
                    </thead>
                    <tbody id="alunos-table-body">
                        <!-- Dados dos alunos serão inseridos aqui via JavaScript -->
                    </tbody>
                </table>
            </div>

            <!-- Links para abrir os Modais -->
            <div class="col-md-4">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inserirAlunoModal">Inserir Aluno</a><br><br>
                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAlunoExcluir" id="btnExcluirAluno">Excluir Aluno</a>
            </div>
        </div>
    </div>

    <!-- Modal Inserir Aluno -->
    <div class="modal fade" id="inserirAlunoModal" tabindex="-1" aria-labelledby="inserirAlunoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inserirAlunoModalLabel">Inserir Aluno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="inserirAlunoModalForm">
                        <div class="mb-3" id="inserirAlunoModalFormDivMatricula">
                            <label for="inserirAlunoModalMatricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="inserirAlunoModalMatricula" form="inserirAlunoModalForm" required>
                        </div>
                        <div class="mb-3" id="inserirAlunoModalFormDivNome">
                            <label for="inserirAlunoModalNome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="inserirAlunoModalNome" form="inserirAlunoModalForm" required>
                        </div>
                        <button id="inserirAlunoModalSubmit" type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Aluno -->
    <div class="modal fade" id="AlunoEditar" tabindex="-1" aria-labelledby="AlunoEditarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AlunoEditarLabel">Editar Aluno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="AlunoEditarForm">
                    <div class="mb-3">
                        <input type="hidden" id="AlunoEditarMatricula" name="AlunoEditarMatricula">
                    </div>
                    <fieldset class="border p-2" style="margin:35px">
                        <legend>DADOS A ATUALIZAR</legend>
                        <div class="mb-3">
                            <label for="AlunoEditarTurma" class="form-label">Turma</label>
                            <input type="text" class="form-control" id="AlunoEditarTurma" name="AlunoEditarTurma">
                        </div>
                        <div class="mb-3">
                            <label for="AlunoEditarNome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="AlunoEditarNome" name="AlunoEditarNome">
                        </div>
                        <div class="mb-3">
                            <label for="AlunoEditarNota" class="form-label">Nota</label>
                            <input type="number" class="form-control" id="AlunoEditarNota" name="AlunoEditarNota">
                        </div>
                    </fieldset>
                    <button id="AlunoEditarSubmit" type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Excluir Aluno (para confirmar exclusão) -->
    <div class="modal fade" id="modalAlunoExcluir" tabindex="-1" aria-labelledby="modalAlunoExcluirLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalAlunoExcluirLabel">Excluir Aluno</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modalAlunoExcluirForm">
                        <div class="mb-3">
                            <label for="modalAlunoExcluirMatricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="modalAlunoExcluirMatricula" required>
                        </div>
                        <div class="mb-3">
                            <label for="modalAlunoExcluirCheckout" class="form-check-label">Tenho certeza da exclusão</label>
                            <input type="checkbox" class="form-check-input" id="modalAlunoExcluirCheckout" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger" id="modalAlunoExcluirSubmit" disabled>Excluir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2023 Todos os direitos reservados.</span>
        </div>
    </footer>
</body>
</html>
