<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akademiq</title>

<!--     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
<!--     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
<!--     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"> -->
<!--     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script> -->

    <link rel="shortcut icon" href="{{ request.host_url }}static/favicon.ico">
    <link rel="stylesheet" href="{{ request.host_url }}static/bootstrap@5.3.0/bootstrap.min.css">
    <script src="{{ request.host_url }}static/bootstrap@5.3.0/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ request.host_url }}static/style.css">
    <script src="{{ request.host_url }}static/main.equipe.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Akademiq</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="alunos">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item">
                        <a class="nav-link" href="turmas">Turmas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="equipe">Equipe</a>
                    </li>
                </ul>
                <form class="d-flex" action=login method="post">
                    </br>LOGADO </br>
                    <a class="logout" href=logout>LOGOUT</a>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4 p-5 border border-dark rounded">
        <div class="row">
            <!-- Tabela de Equipes -->
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Cargo</th>
                            <th>Matrícula</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody id="equipes-table-body">
                        <!-- Dados dos equipes serão inseridos aqui via JavaScript -->
                    </tbody>
                </table>
            </div>

            <!-- Links para abrir os Modais -->
            <div class="col-md-4">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inserirEquipeModal">Inserir Equipe</a><br><br>
<!--                 <a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarModal">Editar Equipe</a><br><br> -->
                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalEquipeExcluir" id="btnExcluirEquipe">Excluir Equipe</a>
            </div>
        </div>
    </div>

    <!-- Modal Inserir Equipe -->
    <div class="modal fade" id="inserirEquipeModal" tabindex="-1" aria-labelledby="inserirEquipeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inserirEquipeModalLabel">Inserir Equipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="inserirEquipeModalForm">
                        <div class="mb-3" id="inserirEquipeModalFormDivMatricula">
                            <label for="inserirEquipeModalMatricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="inserirEquipeModalMatricula" form="inserirEquipeModalForm" required>
                        </div>
                        <div class="mb-3" id="inserirEquipeModalFormDivNome">
                            <label for="inserirEquipeModalNome" class="form-label">Nome</label>
                            <input type="text" class="form-control" id="inserirEquipeModalNome" form="inserirEquipeModalForm" required>
                        </div>
                        <button id="inserirEquipeModalSubmit" type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Equipe -->
    <div class="modal fade" id="EquipeEditar" tabindex="-1" aria-labelledby="EquipeEditarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="EquipeEditarLabel">Editar Equipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="EquipeEditarForm">
                    <div class="mb-3">
                        <input type="hidden" id="EquipeEditarMatricula" name="EquipeEditarMatricula">
                    </div>
                    <div class="mb-3">
                        <label for="EquipeEditarCargo" class="form-label">Cargo</label>
                        <input type="text" class="form-control" id="EquipeEditarCargo" name="EquipeEditarCargo">
                    </div>
                    <div class="mb-3">
                        <label for="EquipeEditarNome" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="EquipeEditarNome" name="EquipeEditarNome">
                    </div>
                    <div class="mb-3">
                        <label for="EquipeEditarSenha" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="EquipeEditarSenha" name="EquipeEditarSenha">
                    </div>
                    <button id="EquipeEditarSubmit" type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Excluir Equipe (para confirmar exclusão) -->
    <div class="modal fade" id="modalEquipeExcluir" tabindex="-1" aria-labelledby="modalEquipeExcluirLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEquipeExcluirLabel">Excluir Equipe</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modalEquipeExcluirForm">
                        <div class="mb-3">
                            <label for="modalEquipeExcluirMatricula" class="form-label">Matrícula</label>
                            <input type="text" class="form-control" id="modalEquipeExcluirMatricula" required>
                        </div>
                        <div class="mb-3">
                            <label for="modalEquipeExcluirCheckout" class="form-check-label">Tenho certeza da exclusão</label>
                            <input type="checkbox" class="form-check-input" id="modalEquipeExcluirCheckout" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger" id="modalEquipeExcluirSubmit" disabled>Excluir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2023 Todos os direitos reservados.</span>
        </div>
    </footer>
</body>
</html>
