<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akademiq</title>
    <link rel="shortcut icon" href="{{ request.host_url }}static/favicon.ico">
    <link rel="stylesheet" href="{{ request.host_url }}static/bootstrap@5.3.0/bootstrap.min.css">
    <script src="{{ request.host_url }}static/bootstrap@5.3.0/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{{ request.host_url }}static/style.css">
    <script src="{{ request.host_url }}static/main.turmas.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Akademiq</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  href="alunos">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="turmas">Turmas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="equipe">Equipe</a>
                    </li>
                </ul>
                <form class="d-flex" action=login method="post">
                    </br>LOGADO </br>
                    <a class="logout" href=logout>LOGOUT</a>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-4 p-5 border border-dark rounded">
        <div class="row">
            <!-- Tabela de Turmas -->
            <div class="col-md-8">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Disciplina</th>
                            <th>Identificador</th>
                            <th>Professor</th>
                        </tr>
                    </thead>
                    <tbody id="turmas-table-body">
                        <!-- Dados dos turmas serão inseridos aqui via JavaScript -->
                    </tbody>
                </table>
            </div>

            <!-- Links para abrir os Modais -->
            <div class="col-md-4">
                <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inserirTurmaModal">Inserir Turma</a><br><br>

                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalTurmaExcluir" id="btnExcluirTurma">Excluir Turma</a>
            </div>
        </div>
    </div>

    <!-- Modal Inserir Turma -->
    <div class="modal fade" id="inserirTurmaModal" tabindex="-1" aria-labelledby="inserirTurmaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="inserirTurmaModalLabel">Inserir Turma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="inserirTurmaModalForm">
                        <div class="mb-3" id="inserirTurmaModalFormDivIdentificador">
                            <label for="inserirTurmaModalIdentificador" class="form-label">Identificador</label>
                            <input type="text" class="form-control" id="inserirTurmaModalIdentificador" form="inserirTurmaModalForm" required>
                        </div>
                        <div class="mb-3" id="inserirTurmaModalFormDivDisciplina">
                            <label for="inserirTurmaModalDisciplina" class="form-label">Disciplina</label>
                            <input type="text" class="form-control" id="inserirTurmaModalDisciplina" form="inserirTurmaModalForm" required>
                        </div>
                        <div class="mb-3" id="inserirTurmaModalFormDivProfessor">
                            <label for="inserirTurmaModalProfessor" class="form-label">Professor</label>
                            <input type="text" class="form-control" id="inserirTurmaModalProfessor" form="inserirTurmaModalForm" required>
                        </div>
                        <button id="inserirTurmaModalSubmit" type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal para Editar Turma -->
    <div class="modal fade" id="TurmaEditar" tabindex="-1" aria-labelledby="TurmaEditarLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TurmaEditarLabel">Editar Turma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="TurmaEditarForm">
                    <div class="mb-3">
                        <input type="hidden" id="TurmaEditarIdentificador" name="TurmaEditarIdentificador">
                    </div>
                    <div class="mb-3">
                        <label for="TurmaEditarProfessor" class="form-label">Professor</label>
                        <input type="text" class="form-control" id="TurmaEditarProfessor" name="TurmaEditarProfessor">
                    </div>
                    <div class="mb-3">
                        <label for="TurmaEditarDisciplina" class="form-label">Disciplina</label>
                        <input type="text" class="form-control" id="TurmaEditarDisciplina" name="TurmaEditarDisciplina">
                    </div>
                    <button id="TurmaEditarSubmit" type="submit" class="btn btn-primary">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Excluir Turma (para confirmar exclusão) -->
    <div class="modal fade" id="modalTurmaExcluir" tabindex="-1" aria-labelledby="modalTurmaExcluirLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTurmaExcluirLabel">Excluir Turma</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="modalTurmaExcluirForm">
                        <div class="mb-3">
                            <label for="modalTurmaExcluirIdentificador" class="form-label">Identificador</label>
                            <input type="text" class="form-control" id="modalTurmaExcluirIdentificador" required>
                        </div>
                        <div class="mb-3">
                            <label for="modalTurmaExcluirCheckout" class="form-check-label">Tenho certeza da exclusão</label>
                            <input type="checkbox" class="form-check-input" id="modalTurmaExcluirCheckout" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger" id="modalTurmaExcluirSubmit" disabled>Excluir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">&copy; 2023 Todos os direitos reservados.</span>
        </div>
    </footer>
</body>
</html>
